// Ссылки в верхем меню
.nav > li > a {
    padding-right: 14px !important;
    padding-left: 14px !important;
}

// Не показывать стрелку вверх при маленьких разрешениях
@media (max-width: 1300px) {
    #to_top {
        display: none;
    }
}

// Сокращение таблицы на странице ДЗ
@media (max-width: 991px) {
    .table.table-condensed.table-thread th:nth-child(6),
    .table.table-condensed.table-thread th:nth-child(7),
    .table.table-condensed.table-thread th:nth-child(8),
    .table.table-condensed.table-thread th:nth-child(9),
    .table.table-condensed.table-thread td:nth-child(6),
    .table.table-condensed.table-thread td:nth-child(7),
    .table.table-condensed.table-thread td:nth-child(8),
    .table.table-condensed.table-thread td:nth-child(9),
    .right-border {
        display: none;
    }
}

// Нижняя плашка в профиле
@media (max-width: 500px) {
    .panel-footer {
        height: 120px;
    }
}
