.nav>li>a {
    padding-right: 14px !important;
    padding-left: 14px !important;
}

table {
    word-break: break-word;
}

@media (max-width: 1300px) {
    #to_top {
        display: none;
    }
}

@media (max-width: 500px) {
    .panel-footer {
        height: 120px;
    }
}