tr.pointer td:last-child {
    text-align: right;
}

table:not(.modal-body table) {
    word-break: break-word;
}

.text-right span {
    width: 120px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

td.ng-binding {
    min-width: 45px;
}


.click.hidden-md.hidden-lg span.grade,
.click.hidden-md.hidden-lg div {
    display: none;
}

.well table td:first-child {
    width: 20%;
}

@media (max-width: 768px) {
    .modal-body tr {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid white !important;
    }

    .modal-body td {
        border: none !important;
    }
}