.row {
    display: flex;
    flex-direction: column;
}

.hints {
    margin-top: 10px;
}

.hints td {
    padding: 10px 0;
    text-align: center;
    border: 1px solid black;
}

.schedule-td,
.schedule th {
    text-align: center !important;
    width: 14.28%;
    height: 110px;
    border: 1px solid black;
    font-size: 9pt !important;
}

.schedule tr td:first-child,
.schedule tr th:first-child,
.hints td {
    width: 7% !important;
}

.schedule th {
    height: 50px !important;
}

.schedule-td div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    border-bottom: 1px dashed black;
}

.lecture {
    background-color: #b6c6e7 !important
}

.lab {
    background-color: #fdd677 !important
}

.sem {
    background-color: white !important;
}

.holiday {
    background-color: #c5e0b5
}

@media (max-width: 990px) {

    .schedule-td,
    .schedule th {
        font-size: 7pt !important;
    }
}

@media (max-width: 500px) {

    .schedule-td,
    .schedule th {
        font-size: 5pt !important;
    }
}